header{
    background-color: #2D25A0;
    height: 650px;
}

#top-bar{
    display: flex;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

#top-section{
    position: absolute;
    top: 85px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 556px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#top-title{
    font-weight: bold;
    font-size: 48px;
    line-height: 30px;
    color: white;
}

#top-banner img{
    width: 556.01px;
    height: 438px;
}

/* Button-styles */
.pink-button{
    height: 44px;
    width: 168px;
    color: white;
    background-color: #E02C6D;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500px;
    text-decoration: none;
}

.pink-button a{
    color: white;
    margin-right: 10px;
    margin-left: 10px;
    height: 100%;
    width: 100%;
}
/* Button-styles */

/* Main-body start */

main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
}

/* Player-Section */

#players-section{
    position: relative;
    top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-bottom: 165px;
}

.player{
    width: 330px;
    height: 474px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.player img{
    display: flex;
    width: 300px;
    height: 256px;
    border-radius: 10px;
}

.player-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-info p{
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    top: -25px;
    text-align: justify;
}

/* Bottom-section */

#bottom-section{
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 158px;
}

#bottom-section h1{
    width: 469px;
    font-size: 40px;
    font-weight: 700;
}

.bottom-section-image img{
    width: 567px;
    height: 427px;
}

#bottom-parts{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 66px;
    grid-row-gap: 40px;
}

#bottom-parts div{
    width: 567px;
    height: 427px;
}
/* Main-body end */

/*Footer start*/

footer{
    display: flex;
    justify-content: center;
}

footer section{
    height: 213px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer img{
    display: flex;
    align-items: center;
    width: 430px;
}

#social-list{
    width: 300px;
    display: flex;
    justify-content: center;
}

#social-icons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 15px;
    padding-left: 0px;
}

.icon{
    font-size: 24px;
    color: #969BAB;
}

.icon :hover{
    color: #E02C6D;
}