a{
    text-decoration: none;
}

#top-bar{
    position: absolute;
    left: 121px;
    top: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

ul li{
    list-style: none;
}

#menu-list{
    display: flex;
}  

#menu-items{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

#menu-items a{
    color: white;
}

.menu-item{
    margin-right: 30px;
}

.menu-items a :hover{
    background-color: #E02C6D;
}

